<div class="content-center">
    <mat-card class="example-card">

        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Login / Register</mat-card-title>
            <mat-card-subtitle>Marcus Luz Site</mat-card-subtitle>
        </mat-card-header>
        <mat-tab-group dynamicHeight>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon" aria-hidden="false" aria-label="" fontIcon="login"></mat-icon>
                    Login
                </ng-template>

                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Email" value="" [(ngModel)]="user.username">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Password" matInput [(ngModel)]="user.password">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>

                <mat-card-actions>
                    <button mat-button color="primary" (click)="login(user)">Login</button>
                </mat-card-actions>

            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon" aria-hidden="false" aria-label="" fontIcon="how_to_reg"></mat-icon>
                    Register
                </ng-template>

                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Email" value="" [(ngModel)]="user.username">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Password" [(ngModel)]="user.password">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>

                <mat-card-actions>
                    <button mat-button color="primary" (click)="register(user)">Register</button>
                </mat-card-actions>
            </mat-tab>

        </mat-tab-group>



    </mat-card>
</div>
<!--
<table>
    <thead>
        <th>Id</th>
        <th>Login</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList">
            <td>{{ user.id }}</td>
            <td>{{ user.userName }}</td>
        </tr>
    </tbody>
</table>
-->